body {
  background-color: #FBFBF8;
  font-family: 'Jost', sans-serif;
}

.main {
  margin: auto;
  max-width: 1200px;
}

.container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.left {
  width: 336px;
  margin-right: 3em;
  margin-top: 20px;
}

.right {
  width: 816px;
  border-left: 2px solid black;
}

.hidden {
  display: none;
}

.tooltip {
  position: absolute;
  text-align: center;
  margin: auto;
  padding: 2px;
  font: 12px sans-serif;
  background-color: #fff;
  border: 0px;
  pointer-events: none;
}

.legend-block {
  width: 20px;
  height: 20px;
  margin: 10px 10px 10px 10px;
}

#legend {
  display: flex;
  align-items: center;
  margin: auto;
  margin-bottom: 20px;
  width: 90%;
}

body {
  line-height: 1.4;
}

textarea {
  width: 100%;
  outline: none;
  overflow: auto;
}

h1 {
  letter-spacing: -1.5px;
  font-size: 6rem;
}

h2 {
  letter-spacing: -0.5px;
  font-size: 3.75rem;
}

h3 {
  letter-spacing: 0px;
  font-size: 3rem;
}

h4 {
  letter-spacing: 0.25px;
  font-size: 2.125rem;
}

h5 {
  letter-spacing: 0px;
  font-size: 1.5rem;
}

h6 {
  letter-spacing: 0.15px;
  font-size: 1.25rem;
}

p  {
  font-size: 1rem;
  letter-spacing: 0.5px;
  text-align: justify;
  text-justify: inter-word;
}

.subtitle1  {
  font-size: 1rem;
  letter-spacing: 0.15px;
}

.subtitle2  {
  font-size: 0.75rem;
  letter-spacing: 0.1px;
}

button {
  font-size: 0.875rem;
  letter-spacing: 1.25px;
  border-radius: 0.5em;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: capitalize;
  border: 1px solid black;
}

.success-button {
  background-color: #3aa573;
}

.info-button {
  background-color: #1f40e6;
}

.error-button {
  background-color: #f13a2c;
}

h1, h2  {
  font-weight: 100;
}

h3, h4, h5, .subtitle1, p {
  font-weight: 500;
}

button, h6  {
  font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1rem;
}

.input {
  margin-bottom: 24px;
}

.dropdown {
  background-color: #FBFBF8;
  font-family: 'Jost', sans-serif;
	display: block;
	font-size: 16px;
  text-align: right;
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
  border: none;
	border-bottom: 2px solid #000;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}

.dropdown::-ms-expand {
	display: none;
}
.dropdown option {
	font-weight:normal;
  margin: .6em 1.4em .5em .8em;
  text-align: right;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 2px;
  background: #000;
  outline: none;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: #d1f4dd;
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: #d1f4dd;
  cursor: pointer;
}
